/**
 * view
 */
.axel-view-box {
  margin: 50px;
  padding: 50px;
  transition-duration: 0.3s;
  border: 1px solid #aaa;
}

@media screen and (max-width: 480px) {
  .axel-view-box {
    margin: 20px;
    padding: 20px;
  }
}

.axel-view-box.active, .axel-view-box.js-active {
  background-color: #444;
  color: white;
}
